#list {
    border-collapse: collapse;
    width: 100%;
}

#list th, #list td {
    border: 1px solid #29a7e1;
    padding: 0.4em;
}

#list th {
    background-color: #00aeef;
    color: white;
}

#search {
    margin-bottom: 0.5em;
}